:root {
    --primary: #BAC5CF;
    --secondary: #1B203D;
    --btn-hover: #374388;
    --cta-idle: #E78225;
    --cta-hover: #FD9E2F;
    --text: #393939;
    --nav-btn: #4957AA;
    --nav-btn-hover:#5B6CCB;
}

* {
    font-family: Roboto, serif;
    box-sizing: border-box;
    color: #393939;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: #1B203D;
    display: flex;
    flex-direction: column;
    align-items: center;
}
