@import "/css/constants.css";

* {
    font-family: Roboto, serif;
    box-sizing: border-box;
    color: #393939;
}

.main-container {
    width: 100%;
}

/*Featured section*/

.featured-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 .5rem;
}

h1, h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    padding-left: .5rem;
}

.featured-container-right {
    display: none;
}

.featured-container-left {
    width: 100vw;
    align-self: center;
    position: relative;
}

.featured-container-left img {
    width: 100%;
}

.carousel-img-1-desktop {
    display: none;
}

.featured-carousel-nav-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
}

.featured-carousel-nav-btn {
    background: var(--nav-btn);
    height: 64px;
    width: 32px;
    border-radius: 6px;
    border: none;
    margin: 0 .5rem;
}

.featured-carousel-nav-btn:hover, .featured-carousel-nav-btn:focus, .category-nav-btn:hover, .category-nav-btn:focus {
    background-color: var(--nav-btn-hover);
}

.featured-carousel-indicators-container {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 4px;
}

/*Deals and Offers Section*/

.deals-and-offers-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: .5rem;
}

.deals-and-offers-card {
    width: 100%;
    min-height: 275px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
}

.deals-and-offers-card-1, .deals-and-offers-card-2, .deals-and-offers-card-3 {
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.deals-and-offers-card-1 {
    background-image: url("/assets/images/gamehub_covers10.webp");
}

.deals-and-offers-card-2 {
    background-image: url("/assets/images/gamehub_covers6.webp");
}

.deals-and-offers-card-3 {
    background-image: url("/assets/images/gamehub_covers8.webp");
}

.deals-and-offers-card-price{
    height: 50px;
    width: 100%;
    background-color: rgba(186, 197, 207, 0.95);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.deals-and-offers-card-1 .deals-and-offers-card-price {
    justify-content: space-between;
}

.deals-and-offers-card-2 .deals-and-offers-card-price,  .deals-and-offers-card-3 .deals-and-offers-card-price{
    justify-content: flex-end;
}

.todays-deal-announcement {
    background-color: var(--secondary);
    height: 32px;
    width: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

.todays-deal-pricetag {
    display: flex;
    height: 32px;
    width: 107px;
}

.todays-deal-pricetag-left {
    background-color: var(--cta-idle);
    width: 47px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

.todays-deal-pricetag-right {
    background-color: var(--secondary);
    width: 54px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.todays-deal-pricetag-right .old-price s{
    color: #7d7d7d;
}

.todays-deal-pricetag-right .new-price{
    color: #FD9E2F;
}

@media (min-width: 640px) {
    .carousel-img-1-mobile {
        display: none;
    }

    .carousel-img-1-desktop {
        display: block;
    }
}

@media (min-width: 750px) {
    .deals-and-offers-main {
        flex-direction: row;
        padding: .5rem;
    }
}

@media (min-width: 980px) {

    /*Featured*/
    .featured-carousel-indicators-container {
        display: none;
    }

    .featured-carousel-nav-btn-container {
        display: none;
    }

    .featured-container-left {
        flex-grow: 1;
    }

    .featured-container-right {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 8px;
        flex-grow: 1;
    }

    .featured-product-card {
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        gap: 8px;
        height: 104px;
        width: 233px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 16px;
        color: #ffffff;
    }

    .featured-product-card:hover, .featured-product-card:focus {
        background-color: var(--primary);
        color: var(--text);
    }

    .featured-product-card span {
        color: #ffffff;
    }

    /*    Deals and offers*/
    .deals-and-offers-card {
        height: 320px;
    }

    .category-cards {
        width: 242px;
        height: 192px;
    }

}

@media (min-width: 1144px) {
    .main-container {
        width: 1144px;
    }
}
