@import "constants.css";

.success-padding-container {
    padding: 0 .5rem .5rem .5rem;
}

.breadcrumbs {
    padding: .5rem 0 0 .5rem;
    font-size: 14px;
}

.breadcrumbs p {
    display: inline;
}

.success-link {
    color: white;
}

.breadcrumbs span, .checkout-link, .cart-link {
    color: #bbbbbb;
}

.success-main-container {
    background-color: var(--primary);
    width: 100%;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.span-order-successful {
    font-size: 30px;
    color: #374388;
}

.download-btn, .return-btn {
    border: none;
    border-radius: 6px;
    width: 190px;
    height: 30px;
    color: white;
    font-size: 16px;
}

.download-btn {
    background-color: var(--cta-idle);
}

.return-btn {
    background-color: var(--secondary);
}

.download-btn:hover, .download-btn:focus {
    background-color: var(--cta-hover);
}

.return-btn:hover, .return-btn:focus {
    background-color: var(--nav-btn-hover);
}

.a-contact {
    font-size: 14px;
    padding-top: 2rem;
}

@media (min-width: 1144px) {
    .success-padding-container {
        padding: 0 0 .5rem 0;
    }
}